<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mindsea.shakytweaks"
          android:theme="@style/ShakyTweaksTheme"
          tools:replace="android:theme">

    <application>
        <activity
                android:name=".ui.TweaksActivity"
                android:theme="@style/ShakyTweaksTheme"
                android:screenOrientation="portrait"
                android:launchMode="singleTop">
        </activity>
    </application>

</manifest>